.card {
    color: #ffffff;
    font-family: 'Lato', 'sans-serif';
    margin: 20px;
    padding: 20px;
}

.card--1 {
    background: #47a2f0;
}

.card--2 {
    background: #a866eb;
}

.card--3 {
    background: #1ce07f;
}

.card__title {
    border-bottom: 1px solid #ffffff;
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.card__link {
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
}

/* media queries */
@media screen and (min-width: 1024px) {
    .card {
        margin: 0;
        width: 30%;
    }

    .card--1, .card--2 {
        margin-right: 10px;
    }
}

