.card {
    color: #ffffff;
    font-family: 'Lato', 'sans-serif';
    margin: 20px;
    padding: 20px;
}

.card--1 {
    background: #47a2f0;
}

.card--2 {
    background: #a866eb;
}

.card--3 {
    background: #1ce07f;
}

.card__title {
    border-bottom: 1px solid #ffffff;
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.item__input {
    background: #ffffff;
    border: none;
    color: #777777;
    font-family: 'Lato', 'sans-serif';
    margin-bottom: 20px;
    padding: 10px;
    width: 92%;
}

.card__link {
    color: #ffffff;
    padding: 10px;
}

